---
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import FeaturedVideos from "@components/FeaturedVideos.astro";
import Footer from "@components/Footer.astro";
import config from "@config/config.json";
import { createOgImage } from "@utils/createOgImage";

import '@fontsource-variable/victor-mono';
import '@fontsource/share-tech-mono';
import '@fontsource/press-start-2p';
import "@styles/global.css";

import { ViewTransitions } from "astro:transitions";

export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
  blogpost?: boolean;
}

const { title, meta_title, description, noindex, blogpost } = Astro.props;

const ogImage = createOgImage({
  title: meta_title ? meta_title : title ? title : config.site.title,
  meta: [config.site.title, config.site.base_url].join(" · "),
});
---

<!doctype html>
<html lang={config.site.lang}>
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />
    <!-- theme meta -->
    <meta name="theme-name" content="bookworm-light-astro" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <title>{meta_title ? meta_title : title ? title : config.site.title}</title>
    <meta
      name="title"
      content={meta_title ? meta_title : title ? title : config.site.title}
    />
    <link
      rel="canonical"
      href={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
      item-prop="url"
    />
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <meta
      name="description"
      content={description ? description : config.metadata.meta_description}
    />
    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />
    <!-- og-title -->
    <meta
      property="og:title"
      content={meta_title ? meta_title : title ? title : config.site.title}
    />
    <!-- og-description -->
    <meta
      property="og:description"
      content={description ? description : config.metadata.meta_description}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={meta_title ? meta_title : title ? title : config.site.title}
    />
    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={description ? description : config.metadata.meta_description}
    />
    <!-- og-image -->
    <meta property="og:image" content={ogImage} />
    <!-- twitter-image -->
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:card" content="summary_large_image" />
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-900">
    <Header />
    <slot name="hero2"/>
    {!blogpost && <Hero />}
    <main class="mx-auto max-w-screen-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      
      <slot />
    </main>
    {!blogpost && config.features.youtube && <FeaturedVideos />}
    <Footer />
    <style is:global>
.animate2 {
    background-image: url(https://media.istockphoto.com/id/1463963370/video/motion-futuristic-geometric-shapes-with-neon-color-in-dark-galaxy.jpg?s=640x640&k=20&c=hZYr2eMR1du9nErLishvoy5l20MGZKEWznKdp7V9XFg=);
    background-repeat: repeat-x;
    animation: animated 4s linear infinite;
    -webkit-animation: animated 4s linear infinite;
    width: 100%;
    max-width: 100%;
    height: auto;  
    margin: 0 auto;
}

@keyframes animated {
    0%   {background-position: 0 0;}
    100% {background-position: 100% 0;} /* Termina en el punto de inicio */
}

@-webkit-keyframes animated {
    0%   {background-position: 0 0;}
    100% {background-position: 100% 0;} /* Termina en el punto de inicio */
}

@keyframes ani{
	0%{background-position: 58% 10%,0 0;}
	100%{background-position: 58% 10%,100vw 0 ;}
}
.cosa, .cosa2 {
  
  height: 300px; /* ajusta la altura según tus necesidades */
  opacity: 100%;
  background:
  /**https://w.wallhaven.cc/full/45/wallhaven-45p5j8.jpg**/
    url(https://w.wallhaven.cc/full/45/wallhaven-45p5j8.jpg) 58% 10% /contain no-repeat,
    url(https://i.pinimg.com/564x/fb/83/d3/fb83d3a4287fd5fd2a6678ef2b0ab3a4.jpg) repeat-x /* fondo de .cosa */
     ; 
  background-blend-mode: difference,normal; /* ajusta según tus necesidades */
  animation: ani 10s linear infinite;
}

.cosa {
  
}

/* Agrega otras reglas específicas de .cosa2 aquí si es necesario */



      </style>
    <script>
      // This is a hack to get vite-plugin-pwa to generate a sw.js file.
      // Do not remove this script tag.
    </script>
  </body>
</html>
