---
import { Image } from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";
import config from "@config/config.json";
import { slugify } from "@utils/slug";


const { posts } = Astro.props;

type PostType = {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    description: string;
    heroImage: string;
    pubDate: Date;
    categories: string[];
    tags: string[];
    autors: string[];
  };
};
---
<div class="mx-auto grid grid-cols-1 gap-y-5 gap-x-8 lg:mx-0 lg:max-w-none">
  {
    posts?.slice(0, config.site.pageSize).map((post: PostType) => (
      <article class="bg-zinc-900 hover:scale-105 transition-transform pixel-corners2 flex w-full flex-col pl-6 p-2 items-center justify-center rounded-md md:grid md:grid-cols-2">
{/*         <div class="mb-auto leading-[0.1] md:col-span-2">
          {post.data.categories.slice(0, 2).map((item) => (
            <a
              href={`/categories/${slugify(item)}`}
              class="capitalize text-md relative z-10 px-3 p-1.5 font-bold dark:font-medium text-zinc-900 dark:text-white group-hover:text-zinc-600 bg-white dark:bg-zinc-900"
            >
              {item}
            </a>
          ))}
        </div> */}
        <a href={`/blog/${post.slug}/`} class="w-full flex md:grid md:grid-cols-6 md:col-span-2">
  <div class="flex justify-left items-center">
    {post.data.heroImage && (
      <figure class="w-[130px] transition-transform hover:scale-110 h-auto object-cover">
        <Image
          class="transition hover:filter-none filter grayscale duration-300 ease-in-out"
          src="/FLIPP.png"
          alt={post.data.title}
          width={500}
          height={500}
          decoding="async"
          loading="lazy"
        />
      </figure>
    )}
  </div>
  <div class="flex flex-col justify-center md:col-span-4 p-4">
    <div class="flex  gap-x-4 text-s text-zinc-900 dark:text-white">
      <FormattedDate date={post.data.pubDate}/>
    </div>
    <h2 class="mt-1 text-3xl md:text-3xl lg:text-3xl leading-6 text-zinc-900 dark:text-white group-hover:text-zinc-600">
      <span class="w-full text-center">
        {post.data.title}
      </span>
      <p class="mt-1 line-clamp-3 text-base leading-6 text-zinc-600">{post.data.description}</p>
    </h2>
  </div>
</a>
      </article>
    ))
  }
</div>


